@use "variables" as v;

body {
    background-color: v.$offwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: v.$ff;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: v.$white;
    padding-block: 3rem;
    padding-inline: 1.5rem;
    margin-inline: 1rem;
    border-radius: 1.5rem;
    border-bottom-right-radius: 12rem;
    box-shadow: 0 0 1rem -5rem black;

    @media screen and (min-width: v.$min-width) {
        width: 52.625rem;
        padding: 3.5rem;
        gap: unset;
    }
}

.sr-only {
    position: absolute;
    color: transparent;
    width: 0;
    height: 0;
}