/* Primary */
$purple: hsl(259, 100%, 65%);
$red: hsl(0, 100%, 67%);
/* Neutral */
$white: hsl(0, 0%, 100%);
$offwhite: hsl(0, 0%, 94%);
$lightgrey: hsl(0, 0%, 86%);
$smokeygrey: hsl(0, 1%, 44%);
$offblack: hsl(0, 0%, 8%);
/* Font */
$ff: 'Poppins', sans-serif;
$input-fs: 2rem;
$fw-reg-i: 400;
$fw-bold: 700;
$fw-extraBold-i: 800;
/* Media query */
$min-width: 48rem;
